<%= form_with(model: transfer, local: true) do |form| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error(s)") %></h2>

      <ul>
        <% transfer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="transfer">
      <%= form.fields_for :transferaccounts do |transfer| %>
        <%= render 'transfer_fields', f: transfer %>
      <%end%>
    </div>

  <div class="row">
      <div class="col-lg-7 form-group">   
          <%= form.label :valor,"Valor", :class => 'control-label' %>
          <input name="transfer[valor]" class="form-control " pattern="^\d*(\,\d{0,2})?$"  placeholder="0,00"/>
      </div>
  </div>
  
  <div class="form-group" >
      <div class="col-sm-12 controls">
          <%= form.submit "Transferir", class: "btn btn-success" %>
      </div>                         
 </div>
<% end %>





