<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @transfer.valor %>
</p>

<p>
  <strong>Taxa:</strong>
  <%= @transfer.taxa %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
