


<div class="row justify-content-center car_principal" >
<div class="col-lg-2  col-md-4 col-sm-8 car_principal">
    <a href="<%= extratoconta_accounts_path %>">
  <div class="card ">
  <%=image_tag("extrato2.png", class: "card-img-top", alt: "Card image cap")%>
    <div class="card-body">
      <h5 class="card-title"><strong>EXTRATO</strong></h5>
    </div>
  </div>
  </a>
  </div>
    <div class="col-lg-2  col-md-4 col-sm-8 car_principal">
    <a href="<%= new_saque_url %>">
   <div class="card ">
    <%=image_tag("saque.png", class: "card-img-top", alt: "Card image cap")%>
    <div class="card-body">
      <h5 class="card-title" ><strong>SAQUE</strong></h5>
    </div>
  </div>
    </a>
      </div>

    <div class="col-lg-2  col-md-4 col-sm-8 car_principal">
    <a href="<%= new_transfer_url %>">
  <div class="card">
    <%=image_tag("transfer2.png", class: "card-img-top", alt: "Card image cap")%>
    <div class="card-body">
      <h5 class="card-title"><strong>TRANSFERÊNCIA</strong></h5>
    </div>
  </div>
  </a>
</div>

<div class="col-lg-2  col-md-4 col-sm-8 car_principal">
    <a href="<%= edit_account_url(current_account) %>">
  <div class="card">
    <%=image_tag("alteraconta.png", class: "card-img-top", alt: "Card image cap")%>
    <div class="card-body">
      <h5 class="card-title"><strong>ALTERAR DADOS</strong></h5>
    </div>
  </div>
  </a>
</div>

</div>



