<div class="row justify-content-center car_principal" >
<div class="col-lg-3  col-md-4 col-sm-8  car_principal">
    <a href="<%= new_account_session_path %>">
  <div class="card ">
  <%=image_tag("cadastroconta2.png", class: "card-img-top", alt: "Card image cap")%>
    <div class="card-body">
      <h5 class="card-title"><strong>ACESSE SUA CONTA</strong></h5>
    </div>
  </div>
  </a>
  </div>
    <div class="col-lg-3  col-md-4 col-sm-8 car_principal">
    <a href="<%= new_deposito_url %>">
   <div class="card ">
    <%=image_tag("deposito.png", class: "card-img-top", alt: "Card image cap")%>
    <div class="card-body">
      <h5 class="card-title" ><strong>DEPÓSITE</strong></h5>
    </div>
  </div>
    </a>
      </div>
    <div class="col-lg-3  col-md-4 col-sm-8 car_principal">
    <a href="<%= new_account_url %>">
  <div class="card">
    <%=image_tag("conta.png", class: "card-img-top", alt: "Card image cap")%>
    <div class="card-body">
      <h5 class="card-title"><strong>ABRA SUA CONTA</strong></h5>
    </div>
  </div>
  </a>
  


</div>

</div>



